torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
ultralytics
transformers
accelerate
ftfy
regex
streamlit
opencv-python-headless
psutil
librosa
soundfile
numba
pandas
git+https://github.com/openai/CLIP.git